<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.24.0" newVersion="4.5.24.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
        <add name="RoadplusData"
            connectionString="Server=localhost;Port=3306;Database=roadplus;Uid=root;Pwd=1q2w3e4r5t;charset=utf8;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>