<div id="roadConstructions" class="view">
    <h1>Road Constructions</h1>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">All Road Constructions
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#newRoadConstructionModal" style="float:right;margin-top: -4px;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>

        <!-- Table -->
        <table class="table" id="roadConstructionTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Time Open</th>
                    <th>Time Close</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: {data: zones, as: 'zone' } -->
                <!-- ko foreach: {data: zone.RoadConstructions, as: 'RoadC' } -->
                <tr>

                    <td data-bind='text: RoadC.ID'></td>
                    <td data-bind='text: RoadC.Name'></td>
                    <td data-bind='text: RoadC.DateStart'></td>
                    <td data-bind='text: RoadC.DateEnd'></td>
                    <td><span data-bind="click: $root.UIremoveRoadC" class="remove glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>

                </tr>
                <!-- /ko -->
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>