/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 51px;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.active {
    color: green;
}

.navbar-fixed-top {
    top:20px!important;
}

nav.window {
    -webkit-app-region: no-drag
}

nav.darwin {
    position: absolute;
    width:100%;
    padding-left:15px;
    background-color:#101010;
    top: 0px;
    padding: 2px;
}

.btn-os {
    float: left;
    margin: 0 6px 0 0;
    background-color: #000;
    background-size: 77px 12px;
    background-image: url('../images/topbar_sprite.png');
    border-radius: 30px;
    border: 0;
    color: transparent;
    display: inline-block;
    font-size: 10px;
    height: 12px;
    padding: 0;
    text-align: center;
    width: 12px;
    cursor: pointer;
}

.os-min {
    background-position: 0px 0px;
}

.os-max {
    background-position: -13px 0px;
}

.os-close {
    background-position: -26px 0px;
}

.os-min:hover {
    background-position: -39px 0px;
}

.os-max:hover {
    background-position: -52px 0px;
}

.os-close:hover {
    background-position: -65px 0px;
}

.btn-set.darwin .btn-os {
    background-image: none;
    background-repeat: no-repeat;
}

.btn-set.darwin .os-close {
    background-color: #FC5753;
}

.btn-set.darwin .os-max {
    background-color: #33C748;
}

.btn-set.darwin .os-min {
    background-color: #FDBC40;
}

.btn-set.darwin:hover .btn-os {
     background-image: url('../images/topbar_sprite.png');   
}

.btn-set.darwin .os-min:hover {
    background-position: -39px 0px;
}

.btn-set.darwin .os-max:hover {
    background-position: -52px 0px;
}

.btn-set.darwin .os-close:hover {
    background-position: -65px 0px;
}