<div id="debug" class="view">

    <h1>Debug</h1>

    <div id="description">Here you can send manual messages to server and view socket log</div>
    <div class="row latestCommands">

    </div>
    <div class="row">
        <div id="input" class="span5">
            <textarea class="console_io text_io" type="text" id="prompt" name="prompt" placeholder="type your message to the WebSocket server here"></textarea>
            <br>
            <button class="btn disabled" id="send">Send</button>
        </div>
        <br>
        <br>
        <div id="output" class="span5">
            <div class="text_io" id="console"></div>
        </div>

    </div>
</div>