<div id="schools" class="view">
    <h1>Schools</h1>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">All Schools
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#newSchoolModal" style="float:right;margin-top: -4px;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>

        <!-- Table -->
        <table class="table" id="schoolTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Time Open</th>
                    <th>Time Close</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: {data: zones, as: 'zone' } -->
                <!-- ko foreach: {data: zone.Schools, as: 'school' } -->
                <tr>

                    <td data-bind='text: school.ID'></td>
                    <td data-bind='text: school.Name'></td>
                    <td data-bind='text: school.DateStart'></td>
                    <td data-bind='text: school.DateEnd'></td>
                    <td><span data-bind="click: $root.UIremoveSchool" class="remove glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </td>

                </tr>
                <!-- /ko -->
                <!-- /ko -->
            </tbody>
        </table>
    </div>
</div>