<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BombDefuserEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TowerHunterEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BombDefuserEngine.Properties.Settings>
            <setting name="Resolution" serializeAs="String">
                <value>1024, 768</value>
            </setting>
            <setting name="FieldSize" serializeAs="String">
                <value>8, 6</value>
            </setting>
            <setting name="Bombs" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="CorrectionScale" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>com40</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>1280, 0</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>http://athena.fhict.nl/users/i318432/form.php?points=</value>
            </setting>
            <setting name="QRCodeBounds" serializeAs="String">
                <value>20, 400, 200, 200</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>1000000</value>
            </setting>
        </BombDefuserEngine.Properties.Settings>
        <TowerHunterEngine.Properties.Settings>
            <setting name="Resolution" serializeAs="String">
                <value>1024, 768</value>
            </setting>
            <setting name="FieldSize" serializeAs="String">
                <value>8, 6</value>
            </setting>
            <setting name="Bombs" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Scale" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="CorrectionScale" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>com40</value>
            </setting>
            <setting name="Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </TowerHunterEngine.Properties.Settings>
    </applicationSettings>
</configuration>