<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Road+</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" onclick="window.ViewHandler.Show('dashboard');">Dashboard</a>
                </li>
                <li><a href="#" onclick="window.ViewHandler.Show('zones');">Zones</a>
                </li>
                <li><a href="#" onclick="window.ViewHandler.Show('schools');">Schools</a>
                </li>
                <li><a href="#" onclick="window.ViewHandler.Show('roadConstructions');">RoadConstructions</a>
                </li>
                <li><a href="#" onclick="window.ViewHandler.Show('simulation');">Simulation</a>
                </li>
                <li><a href="#" onclick="window.ViewHandler.Show('debug');">Debug</a>
                </li>
                <li><a href="#" class="connect"><span>Connect</span> <span class="glyphicon glyphicon-unchecked"></span></a>
                </li>
                <li><a href="#" class="disconnect" style="display:none;"><span>Disonnect</span> <span class="glyphicon glyphicon-check"></span></a>
                </li>

                </li>
            </ul>

        </div>
    </div>
</nav>